body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  max-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, a, button{
  font-family: 'Merienda', cursive;
}